<article class="post">
  <div class="meta">
   <p>{{title}}<span>Posted by {{user.username}} on {{format_date created_at}}
    <a href="/post/{{id}}"> {{comments.length}} {{format_plural "comment" comments.length}}</a>
   </span></p>
  </div>
  <div class="post_content">
    {{post_text}}
  </div>
</article>